#
# File# Purpose: 
#  Contains environment variables that are managed by https://direnv.net/ 
#  
#          

# Project configuration for assisting Min.io bootstrap their tests into GCP environment


export CLOUDSDK_CORE_PROJECT=daring-bit-354216
export CLOUDSDK_COMPUTE_REGION=us-south1
export CLOUDSDK_COMPUTE_ZONE=us-south1-a


